<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONJoy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JSONJoyOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>JSONJoyTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>JSONJoyWatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>JSONJoytvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C135EEC1C4734BA00AA3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C135EF51C4734BA00AA3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C135FCA1C47392D00AA3A01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3E79B619D355CF006071F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3E79C119D355CF006071F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D958022D19E6ED8E003C8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D958023719E6ED8E003C8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
